<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="58531pennerzhang.DuckHunt" Publisher="CN=A08AD9D1-43EC-49E9-BABB-C9D8A235E769" Version="1.0.0.12" />
  <Properties>
    <DisplayName>DuckHunt</DisplayName>
    <PublisherDisplayName>penner zhang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DuckHunt.App">
      <VisualElements DisplayName="DuckHunt" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DuckHunt" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.gameExplorer">
      <GameExplorer GameDefinitionContainer="DuckHuntGDF.dll" />
    </Extension>
  </Extensions>
</Package>